ion-tab-button{
    background-color: #030303;
}
ion-icon{
    color: white;
}
ion-label{
    color: white;
}
// ion-tabs{
//     width: 100%;
// }
// ion-tab-button{
//     width: 900px;
// }
// ion-tab-bar{
//     width: 1000px;
    
// }