<!-- <ion-header>
  <ion-toolbar>
    <ion-title>customerUpdates</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content [fullscreen]="true">

  <body [fullscreen]="true">

    <div id="bg">

        <ion-grid>
            <ion-row color="black" justify-content-center>

                <ion-col align-self-center size-md="12" size-lg="11" size-xs="12">


                    <div class="div1">

                        <br>
                        <h1>CustomerUpdates</h1>

                        <br>
                        <div class="div2">
<br>
                            <ion-card>
                              <ion-item>
                                <h5>Description</h5>
                              </ion-item>
                              <br><br><br>
                            </ion-card>
<br>
<ion-card>
  <ion-item>
    <h5>jjj</h5>
  </ion-item>
  <br><br><br>
</ion-card>
<br>
<ion-card>
  <ion-item>
    <h5>jjj</h5>
    
  </ion-item>
  <br><br><br>
</ion-card>
<br>
<ion-card>
  <ion-item>
    <h5>jjj</h5>
    
  </ion-item>
  <br><br><br>

</ion-card>

                        </div>


                    </div>
                    

                </ion-col>

            </ion-row>
        </ion-grid>
    


    </div>


</body>

</ion-content>
