<ion-content [fullscreen]="true">

  <h1>Stores</h1>
     
  <div class="sly">
    <div>
        <ion-slides>
           
            <ion-slide >
                
                    <ion-card class="booked">
                        <ion-card-title class="wordsCard"><ion-icon name="information-circle"></ion-icon>Userame</ion-card-title> <br/>   
                        <ion-card-content  class="wordsCard">
                            
                         Adrees/location  <br>
                         Phone Number <br>
                         Store Name
                        </ion-card-content>
                    </ion-card>
                      
               
            </ion-slide>
            <!-- <ion-icon name="caret-forward-outline"></ion-icon> -->
            <ion-slide >
                
              <ion-card class="booked">
                  <ion-card-title class="wordsCard"><ion-icon name="information-circle"></ion-icon>Userame</ion-card-title> <br/>   
                  <ion-card-content  class="wordsCard">
                      
                   Adrees/location  <br>
                   Phone Number <br>
                   Store Name
                  </ion-card-content>
              </ion-card>
                
         
      </ion-slide>
        </ion-slides>
    </div>
    
    </div>

<h1>Measurements</h1>
<div class="sly">
  <div>
      <ion-slides>
         
          <ion-slide >
            <ion-card class="booked">
              <ion-card-title class="wordsCard"><ion-icon name="information-circle"></ion-icon>Item Name</ion-card-title> <br/>   
              <ion-card-content  class="wordsCard">
                  
               Type  <br>
               Size<br>
               Item Store
              </ion-card-content>
          </ion-card>
                    
             
          </ion-slide>
          <!-- <ion-icon name="caret-forward-outline"></ion-icon> -->
          <ion-slide >
              
            <ion-card class="booked">
                <ion-card-title class="wordsCard"><ion-icon name="information-circle"></ion-icon>Item Name</ion-card-title> <br/>   
                <ion-card-content  class="wordsCard">
                    
                 Type  <br>
                 Size<br>
                 Item Store
                </ion-card-content>
            </ion-card>
              
       
    </ion-slide>
      </ion-slides>
  </div>
  
  </div>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
