<!-- <ion-header>
  <ion-toolbar>
    <ion-title>viewMeasure</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="theBody">
  <body>
    <div>
        <div id="bg">
            <ion-grid>
                <ion-row color="black" justify-content-center>
                    <br>
                    <ion-col align-self-center size-md="12" size-lg="11" size-xs="12">

                        <div class="div1">
                            

                            

                            <br>

                            <div class="profile-image">
                                
                                <div>
                                    <img src="\assets\images\wel.PNG">
                                </div>

                                
                            </div>
                            <br>

                            <div class="div2">
                                <br><br>
                                <div padding>
                                      
                                      
                                  <ion-item id="item">
                                  <ion-label color="black" position="floating">Trauser</ion-label>
                                  
                                    
                                    
                                  </ion-item>
                                
                                  
                                  <ion-item id="item">
                                  <ion-label color="black" position="floating">Jean</ion-label>
                                 
                                    
                                  </ion-item>
                                
                                  
                                  <ion-item id="item">
                                  <ion-label color="black" position="floating">28</ion-label>
                                 
                                     
                                  
                                  </ion-item>
              
<ion-item id="item">
<ion-label color="black" position="floating">Levis Store</ion-label>




</ion-item>


                     
                                 
                                  <br>
                                  
                                 
                              </div>





                            </div>
                           
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>


        </div>
  

    </div>
</body>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>

